* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background: linear-gradient(90deg, #FF8000 17.71%, #FFB200 67.19%, rgba(255, 255, 0, 0.9) 100%);
    
}


.container {
    max-width: 1090px;
    min-width: 320px; /* 320px é a largura maxima de celulares bem antigos */

    margin: auto;
    margin-top: 110px;

    display: flex;  
}

.container-information {
    background-color: #FF4000;
    width: 60%;
    opacity: 0.8;
    text-align: center;
}

main section div h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2.1vw; /* 4% da viewport unit (base é o w = width */
    line-height: 60px;
    color: #FFB200;

    padding-top: 16%;
}

main section div h1 {
    font-family: 'Oranienbaum';
    font-size: 4.7vw;
    font-weight: 400;
    line-height: 104px;
    color: white;

    margin-top: 4vw;  
}

main section div p {
    font-family: 'Dancing Script';
    font-weight: 500;
    font-size: 1.9vw;
    line-height: 43px;
    color: white;

    margin-top: 0.2vw;
}

main section div form {
    margin-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    
}

main section div form input {
    border: 2px solid #FFB200;
    background-color: #FF4000; 
    outline: none;
    color: white;

    width: 13vw;
    height: 1.7vw;

}

main section div form button {
    background-color: #FFB200;
    border: none;

    width: 5vw;
    height: 1.7vw;

    color: #FF4000;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 27px;

    transition: transform .3s;
}

main section form button:hover {
    transform: scale(1.04);
}

svg {
    margin-top: 1vw;
    transition: transform .3s;
}

svg:hover {
    transform: scale(1.04);
}

.instagram {
    margin-right: 0.1vw;
    width: 5vw;
}

.facebook {
    margin-right: 0.1vw;
}


.container-images {
    max-width: 40%;
    display: grid; /* para tirar os espaços entre as imagens */   
}

.image1 {
    width: 100%;
}

.image2 {
    width: 100%;
}


.adesivo {
    position: absolute;
    z-index: 2;
    top: 37vw;
    left: 57vw;
    right: 1vw;
    text-align: center;
}

.adesivo1 {
    font-family: 'Poppins';
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.adesivo2 {
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}



























